.add-card__button_disabled {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
}

.add-card__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

@media screen and (max-width: 400px) {
  .add-card__button_disabled {
    color: transparent;
  }
}