@import url(./__number/card__number.css);
@import url(./__text/card__text.css);
@import url(./__image/card__image.css);

.card {
  width: 500px;
  height: 150px;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightslategray;
  animation: showBlock 1s linear forwards;
}


@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}